@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body {
  background-image: url(../img/dots.png);
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
}

.navbar {
  font-family: 'Poppins', sans-serif;
}
